.details {
  overflow: auto;
  max-height: 200px;
  max-width: 400px;
  white-space: pre-wrap;
}

.error {
  color: #b00;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.link {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
}
